
<% if @free_post.errors.any? %>
   <%= @free_post.errors.count %>件のエラーが発生しました
   <ul>
      <% @free_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
   </ul>
<% end %>




<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
    <h2 class="text-primary mb-4">Member info</h2>
      <%= render 'public/members/info', member: current_member %>
      
      <%= render 'form', free_post: @free_post %>
    </div>
    <div class='col-md-8 offset-md-1'>
      

      <% unless current_member.email == "guest@example.com" %>
      <h2 class="text-primary mb-4">Free_posts</h2>
      <%= link_to "グループを作成する", new_group_path %>｜<%= link_to "グループ一覧", groups_path %>
      <% end %>

      <%= render 'index', free_posts: @free_posts %>

      <h2 class="text-primary mb-4">Groups</h2>
     <%= render 'group_index', free_posts: @group_free_posts %>

     
    </div>
  </div>
</div>

