<div class='container py-4'>
  <div class='row'>
    <div class="col-md-3 bg-light rounded shadow-sm p-4">
      <h2 class="text-primary mb-4">Member Info</h2>
      <div class="mb-4">
      <%= render 'public/members/info', member: current_member %>
      </div>
      <div>
      <%= render 'form', free_post: @free_post %>
      </div>
    </div>
    <div class='col-md-8 offset-md-1'>

      <%# ゲストログインに制限をつけるときに利用 %>
      <%# unless current_member.email == "guest@example.com" %>

      <h2 class="text-primary mb-4">Free_posts</h2>
      <%= link_to "グループを作成する", new_group_path %>｜<%= link_to "グループ一覧", groups_path %>
      
      <%# end %>
      <div>
        <%= render 'index', free_posts: @free_posts %>
      </div>
      <h2 class="text-primary mb-4">Groups</h2>
      <div>
        <%= render 'public/free_posts/group_index', free_posts: @group_free_posts %>
      </div>
     
    </div>
  </div>
</div>

