<div class="container my-5">
  <!-- Groups Table -->
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-primary">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">メンバー数</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% groups.each do |group| %>
       
          <tr>
            <!-- Group Image -->
            <td>
              <%= image_tag group.get_group_image, size: "50x50", class: "rounded" %>
            </td>

            <!-- Group Name -->
            <td>
              <%= link_to group.name, group_path(group), class: "text-decoration-none text-dark fw-bold" %>
            </td>
            
            
            <!-- Member Count -->
            <td>
              <% #TODO 練習 %>
              <%#= group.group_members.permit.count %>
              <%= GroupMember.permit.where(group_id: group.id).count %>
              
            </td>
           

            <!-- Actions -->
            <td>
              <div class="d-flex gap-2">
                <!-- Show Link -->
                <%= link_to "Show", group, class: "btn btn-primary btn-sm group_#{group.id}" %>
                
                <% if group.is_owned_by?(current_member) %>
                  <!-- Edit Link -->
                  <%= link_to "Edit", edit_group_path(group), class: "btn btn-success btn-sm group_#{group.id}" %>

                  <!-- Delete Link -->
                  <%= link_to "グループを削除", group_path(group), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "本当に削除しても良いですか？" } %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
