<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>Member info</h2>
      <%= render 'public/members/info', member: @member %>
      <h2 class="mt-3">New post</h2>
      <%= render 'form', post: @post_new %>
    </div>
    <div class='col-md-8 offset-md-1'>

    <div class = 'row'>
  		<h2>Post detail</h2>

  		<table class="table table-bordered table-striped">
  <tbody>
    <!-- 投稿者情報 -->
    <tr>
      <td class="text-center" style="width: 200px;">
        <%= link_to(@post.member) do %>
          <%= image_tag @post.get_image, class: "img-thumbnail mb-2", size: "300x300" %><br>
          <strong><%= @post.member.name %></strong>
        <% end %>
      </td>
    </tr>

    <!-- 投稿タイトル -->
    <tr>
      <td>
        <h5 class="text-primary"><%= link_to @post.title, @post, class: "text-decoration-none" %></h5>
      </td>
    </tr>

    <!-- 投稿内容 -->
    <tr>
      <td>
        <p class="text-muted"><%= @post.body %></p>
      </td>
    </tr>

    <!-- 編集・削除ボタン -->
    <% if @post.member == current_member %>
      <tr>
        <td class="text-end">
          <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-outline-success me-2" %>
          <%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



   </div>

            
        
  </div>
</div>