<div class="container">
   <h4 class="my-5"><span style="background-color:#eeeeee">会員情報編集</span></h4>
</div>
<div class="container">
 <div class="row">
  <div class="col-8">

      <%= form_with model: @member, url: member_path, method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>ニックネーム</td>
          <td><%= f.text_field :name %></td>
        </tr>
       
       <tr>
         <td>image</td>
         <td><%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %></td>
       </tr>

       <tr>
         <td>introduction</td>
         <td><%= f.text_area :introduction, class: "form-control introduction" %></td>
       </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "編集内容を保存", class:"btn btn-success" %></td>
          <td><%=link_to "退会する", member_path, method: :delete,class:"btn btn-danger" %></td>
        </tr>
      </table>
      <% end %>
   </div>
  </div>
</div>