

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>Member info</h2>
      <%= render 'public/members/info', member: @member %>
      
      <h2>FreePost</h2>
      <%= render 'public/free_posts/form', free_post: @free_post %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>いいね記事一覧</h2>
      

      <table class="table">
        <tbody>
          <% @favorite_free_posts.each do |free_post| %>
          <tr>
          <td><%= image_tag free_post.get_image, size:'50x50' %></td>
          <td><%= link_to free_post.body, free_post_path(free_post) %></td>
          <td><%= link_to free_post.member.name, member_path(free_post.member_id) %></td>
          <td><%= render "public/favorites/btn", free_post: free_post %></td>
          <td><%= link_to "#{free_post.comments.count} コメント", free_post_path(free_post.id) %></p>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>




