<div class="container my-5">
  <div class="row">
    <!-- グループ情報セクション -->
    <div class="col-lg-8 offset-lg-1">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title text-primary mb-4">Groups</h2>
          
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover align-middle">
            <thead class="table-primary">
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Members Count</th>
                  <th scope="col" colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @groups.each do |group| %>
                  <tr>
                    <td>
                      <%= image_tag group.get_group_image, size: "50x50", class: 'rounded' %>
                    </td>
                    <td>
                      <%= link_to group.name, admin_group_path(group), class: "text-decoration-none fw-bold text-dark" %>
                    </td>
                    <td><%= group.members.count %></td>
                    <td>
                      <%= link_to "Delete", admin_group_path(group), method: :delete, data: { confirm: "本当に削除しても良いですか？" }, class: "btn btn-danger btn-sm" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <!-- 戻るリンク -->
      <div class="text-center mt-4">
        <%= link_to "戻る", admin_groups_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
</div>
