<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #FFE5B4; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);">
    <div class="container">
      <a class="navbar-brand text-primary fw-bold fs-4" href="/">
        Free and Easy Calorie Control
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <% if member_signed_in? %>
            <li class="nav-item">
              <%= link_to members_mypage_path, class: 'nav-link text-dark fw-semibold' do %>
                <i class="fas fa-home"></i> Home
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to posts_path, class: 'nav-link text-dark fw-semibold' do %>
                <i class="fa-solid fa-user-tie"></i> my post
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to free_posts_path, class: 'nav-link text-dark fw-semibold' do %>
                <i class="fas fa-users"></i> Free Space
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to members_path, class: 'nav-link text-dark fw-semibold' do %>
                <i class="fa-solid fa-users-line"></i> Members
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to groups_path, class: 'nav-link text-dark fw-semibold' do %>
                <i class="fa-solid fa-people-group"></i> groups
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to destroy_member_session_path, method: :delete, class: 'nav-link text-danger fw-semibold' do %>
                <i class="fas fa-sign-out-alt"></i> Log Out
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-dark fw-semibold' do %>
                <i class="fas fa-home"></i> Home
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_member_registration_path, class: 'nav-link text-success fw-semibold' do %>
                <i class="fas fa-user-plus"></i> Sign Up
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_member_session_path, class: 'nav-link text-primary fw-semibold' do %>
                <i class="fas fa-sign-in-alt"></i> Log In
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
